.transactionHistory {
  width: 600px;

  border: 1px solid rgba(34, 60, 80, 0.2);
  border-collapse: collapse;

  text-align: center;

  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}

thead {
  background-color: #00bcd5;
}

th {
  color: #fff;
  border: 1px solid rgba(34, 60, 80, 0.2);
  width: 200px;
}

td {
  border: 1px solid rgba(34, 60, 80, 0.2);
}

tr {
  height: 50px;
  color: #768696;
}

tr:nth-child(even) {
  background-color: #ecf1f4;
}
